@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder {
    @apply text-gray-600;
    transition: color 0.3s ease;
    font-size: 13px;
    position: relative;
    left: 9px;
}